# Graphlab Create SFrame

## import

In [1]:
import graphlab

In [2]:
graphlab.product_key.get_product_key()

'0CAF-069F-4157-469B-F120-B045-BE5A-A75C'

## load

~/library/data 에 people-example.csv을 업로드합니다.

In [5]:
!ls *.csv

people-example.csv

In [6]:
sf = graphlab.SFrame('people-example.csv')

This non-commercial license of GraphLab Create for academic use is assigned to honux77@gmail.com and will expire on November 09, 2018.

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: /tmp/graphlab_server_1513672711.log

Finished parsing file /Users/honux/temp/ml1/people-example.csv

Parsing completed. Parsed 7 lines in 0.026401 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[str,str,str,int]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file /Users/honux/temp/ml1/people-example.csv

Parsing completed. Parsed 7 lines in 0.00993 secs.

In [7]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [8]:
sf.head(2)

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 2

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
+------------+-----------+---------------+-----+
[2 rows x 4 columns]

In [9]:
graphlab.canvas.set_target('ipynb')

In [11]:
sf['age'].show(view = 'Categorical')

In [12]:
sf['age'].mean()

23.142857142857146

In [13]:
sf['full name'] = sf['First Name'] + sf['Last Name']

In [14]:
sf.head(2)

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int
	full name	str

Rows: 2

Data:
+------------+-----------+---------------+-----+---------------+
| First Name | Last Name |    Country    | age |   full name   |
+------------+-----------+---------------+-----+---------------+
|    Bob     |   Smith   | United States |  24 |    BobSmith   |
|   Alice    |  Williams |     Canada    |  23 | AliceWilliams |
+------------+-----------+---------------+-----+---------------+
[2 rows x 5 columns]

In [17]:
sf['age'] * 10

dtype: int
Rows: 7
[240, 230, 220, 230, 230, 220, 250]

In [19]:
sf['age10'] = sf['age'].apply(lambda x: x * 10)

In [21]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int
	full name	str
	age10	int

Rows: 7

Data:
+------------+-----------+---------------+-----+---------------+-------+
| First Name | Last Name |    Country    | age |   full name   | age10 |
+------------+-----------+---------------+-----+---------------+-------+
|    Bob     |   Smith   | United States |  24 |    BobSmith   |  240  |
|   Alice    |  Williams |     Canada    |  23 | AliceWilliams |  230  |
|  Malcolm   |    Jone   |    England    |  22 |  MalcolmJone  |  220  |
|   Felix    |   Brown   |      USA      |  23 |   FelixBrown  |  230  |
|    Alex    |   Cooper  |     Poland    |  23 |   AlexCooper  |  230  |
|    Tod     |  Campbell | United States |  22 |  TodCampbell  |  220  |
|   Derek    |    Ward   |  Switzerland  |  25 |   DerekWard   |  250  |
+------------+-----------+---------------+-----+---------------+-------+
[7 rows x 6 columns]